<form class="mt-4">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Name*</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail">Email*</label>
            <input type="email" class="form-control" id="inputEmail" >
        </div>
    </div>
    <div class="form-group">
        <label for="inputSubject">Subject*</label>
        <input type="text" class="form-control" id="inputSubject" >
    </div>
    <div class="form-group">
        <label for="inputMessage">Message*</label>
        <textarea type="text" id="inputMessage" class="form-control" rows="6"></textarea>
    </div>
    
    <button type="submit" class="btn btn-secondary">Send Message</button>
</form>