<h1 class="text-center mt-4">Cart</h1>

<table class="table table-hover mt-4" *ngIf="selectedproducts.length; else noItemTemplate">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let selectedproduct of selectedproducts; index as i">
        <td><img [src]="selectedproduct.image" class="card-img-top"></td>
        <td>{{selectedproduct.name}}</td>
        <td>{{selectedproduct.price | currency:'EUR':true}}</td>
        <td><input type="number" min="0" [(ngModel)]="selectedproduct.quantity"></td>
        <td>{{selectedproduct.price * selectedproduct.quantity | currency:'EUR':true}} </td>
        <td>
          <button class="btn btn-danger mr-3" (click)="Delete(i)">Delete</button>
          <button class="btn btn-success mr-3" (click)="Save(i)">Save</button>
          <button class="btn btn-primary" (click)="Checkout(i)">
            <span *ngIf="!status[i]; else sent_content">Checkout</span>
            <ng-template #sent_content> <span>Shiped</span> </ng-template>
          </button>
        </td>
      </tr>
    </tbody>
</table>

<div class="card" *ngIf="selectedproducts.length;">
  <h5 class="card-header">Cart Totals</h5>
  <div class="card-body">
    <div class="row">
      <div class="col col-3">Total</div>
      <div class="col col-3" align="center">{{total | currency:'EUR':true}}</div>
      <div class="col col-6" align="right">
          <button class="btn btn-danger mr-3" (click)="Delete_All()">Delete All</button>
          <button class="btn btn-success mr-3" (click)="Save_All()">Save All</button>
          <button class="btn btn-primary" (click)="Checkout_All()">
            <span *ngIf="!status_all; else sent_content">Checkout All</span>
            <ng-template #sent_content> <span>Shiped</span> </ng-template>
          </button>
      </div>
    </div>
  </div>
</div>


  <!-- <span>{{selectedproducts | json}}</span> -->

  <ng-template #noItemTemplate>
    <div class="alert alert-danger text-center">Cart is Empty</div>
  </ng-template>
