<div class="shadow-lg p-3 mb-5 bg-white rounded mt-5" >
<p> Welcome to <b class="text text-uppercase">ElctroMate</b>,<br> your number one source for all things (<b class="text text-black-50">laptops, bags,  Electronics ,perfumes</b> ).
 <br>
 We're dedicated to giving you the very best of everythig, with a focus on  dependability, customer service and uniqueness.

 <br><br>
Founded in 2021 by <b class="text text-primary">DevTeamCompany</b>, <b class="text text-uppercase">ElctroMate</b> has come a long way from its beginnings in a home office, toolshed, Houston, TX.
<br><br>
 When  <b class="text text-primary">DevTeamCompany</b> first started out, its passion for  helping other parents be more eco-friendly.<br>
  providing the best equipment for his fellow musicians drove him to do intense research.<br>quit her day job, and gave him the impetus to turn hard work and inspiration into to a booming online store.<br><br> We now serve customers all over
  (<b class="text text-black-50">place, ie: the US, the world, the Austin area</b>),
   and are thrilled to be a part of the (<b class="text text-black-50">adjective, ie: quirky, eco-friendly, fair trade</b>) wing of the (<b class="text text-black-50">industry type, ie: fashion, baked goods, watches</b> industry.

We hope you enjoy our products as much as we enjoy offering them to you.<br>
 If you have any questions or comments, please don't hesitate to contact us please.

Sincerely,<br><br>
</div>
